<div class="container">
  <div class="card shadow mt-4">
    <div class="card-body">
      <app-user-dropdown
        (setCurrentUser)="setCurrentUser($event)"
      ></app-user-dropdown>
      <ng-container *ngIf="errorMessage; else contentTemp">
        <app-error-message [message]="errorMessage"></app-error-message>
      </ng-container>
      <ng-template #contentTemp>
        <app-spinner
          *ngIf="isLoadingTodos; else todosTemp"
          [message]="'Fetching the todos...'"
        ></app-spinner>
        <ng-template #todosTemp>
          <app-add-todo
            *ngIf="isAdmin"
            [selectedUser]="currentUser"
            (addTodo)="addTodo($event)"
          ></app-add-todo>
          <app-todo-item
            *ngFor="let todo of todos"
            [todo]="todo"
            (deleteTodo)="deleteTodo($event)"
          ></app-todo-item>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
