<div class="container">
  <div class="card shadow mt-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Joining date</th>
          <th>Actions</th>
        </tr>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstName + " " + user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.createdAt | date: "dd-MMM-yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
